<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">   <!-- 为网页定义描述内容-->
<meta name="keywords" content="刘璐 liulu Java">   <!-- 为搜索引擎定义关键词 -->
<meta name="author" content="刘璐 liulu">     <!-- 定义网页作者 -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/deerQ.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/deerQ.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/deerQ.png" | absolute_url }}">
<link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/deerQ.png" | absolute_url }}">   <!-- 地址栏前换成自己的图标 -->

<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">

<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">
q
<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" /></noscript>
