<!-- 无序列表
<ul>
	<li> xx</li>
	<li> xx</li>
-->
<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Introduction</a></li>
  <li class="{% if page.url contains '/owner/' %} active {% endif %}"><a href="{{ "/owner/" | absolute_url }}">Owner</a></li>
  <li class="{% if page.url contains '/study&works/' %} active {% endif %}"><a href="{{ "/study&works/" | absolute_url }}">Study & Works</a></li>
  <li class="{% if page.url contains '/draw/' %} active {% endif %}"><a href="{{ "/draw/" | absolute_url }}">Draw</a></li>
  <li class="{% if page.url contains '/other/' %} active {% endif %}"><a href="{{ "/other/" | absolute_url }}">Other</a></li>
</ul>

<ul class="icons">
  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
